@{
    ViewBag.Title = "Lịch tiêm chủng cho trẻ em";
    Layout = "~/Views/Shared/Giaodientrangchu.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="~/bootstrap/css/Stylehead.css" rel="stylesheet" />
<style>
    .justified-text {
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-tieude {
        background-color: #3b2cb3;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', serif;
        font-size: 14px;
        height: 5vh;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-tieude1 {
        background-color: #3b2cb3;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', serif;
        font-size: 14px;
        height: 5vh;
        text-align: justify;
        display: flex;
        align-items: center;
    }

    .noidung {
        background-color: white;
        color: black;
        font-family: 'Times New Roman', serif;
        font-size: 18px;
        height: auto;
        text-align: justify;
        display: flex;
        align-items: center;
        line-height: 2.5;
    }

    .container1 {
        text-align: justify;
        display: flex;
        align-items: center;
    }

    .giandong {
        line-height: 2.5;
    }

    .giandong1 {
        line-height: 2.5;
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .giandong3 {
        width: 800px;
    }
</style>
<div class="container giandong" style="margin-bottom: 100px;">
    <div class="row text-center">
        <span>
            <font face="Verdana"><h2 style="text-align:left; border-bottom: 2px solid #0077b6;"><b>LỊCH TIÊM CHỦNG CHO TRẺ EM</b></h2></font>
        </span>
    </div>
    <div class="container1 giandong1" style="margin-top:20px;">
        <div class="row">
            <table class="tb90 text-center vmid giandong3" style="width: 1100px;">
                <tbody>
                    <tr>
                        <td style="color: #ffffff; text-align: center; width: 725px; border: 2px solid #13b8d1; font-family: 'Times New Roman', serif; font-size: 20px;" colspan="16" bgcolor="#304095"><strong>LỊCH TIÊM CHỦNG CHO TRẺ TỪ 0-8 TUỔI</strong></td>
                    </tr>
                    <tr>
                        <td style="color: #ffffff; text-align: left; width: 128px; border: 2px solid #13b8d1;" rowspan="2" bgcolor="#525aa3"><b>Tuổi/Vaccine</b></td>
                        <td style="color: #ffffff; width: 39px; border: 2px solid #13b8d1;" bgcolor="#525aa3"></td>
                        <td style="color: #ffffff; text-align: center; width: 398px; border: 2px solid #13b8d1; " colspan="10" bgcolor="#525aa3"><b>Tháng</b></td>
                        <td style="color: #ffffff; text-align: center; width: 160px; border: 2px solid #13b8d1;" colspan="4" bgcolor="#525aa3"><b>Tuổi</b></td>
                    </tr>
                    <tr>
                        <td style="color: #ffffff; width: 39px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">Sơ sinh</td>
                        <td style="color: #ffffff; width: 39px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">2</td>
                        <td style="color: #ffffff; width: 39px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">3</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">4</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">6</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">7</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">8</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">9</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">10 -11</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">12</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">18</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">2</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">3-4</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">5-6</td>
                        <td style="color: #ffffff; width: 40px; text-align: center; border: 2px solid #13b8d1;" bgcolor="#525aa3">7-8</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Lao</td>
                        <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td>
                        <td style="width: 39px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #13b8d1;"></td>
                    </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Viêm gan B</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;">x</td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Bạch hầu, ho gà, uốn ván</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Bại liệt</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Viêm phổi, viêm màng não mủ do Hib</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Tiêu chảy do Rota Virus</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="width: 158px; border: 1px solid #13b8d1;" colspan="4">Phác đồ 2 hoặc 3 liều, mỗi liều cách nhau tối thiểu 1 tháng</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Viêm phổi, viêm màng não, viêm tai giữa do phế cầu khuẩn</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #13b8d1;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn B,C</td> <td style="width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 39px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;">x</td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #13b8d1;">x</td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td> <td style="width: 40px; border: 1px solid #13b8d1;"></td><td style="width: 40px; border: 1px solid #13b8d1;"></td></tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Cúm</td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 440px; border: 1px solid #12b8d1;" colspan="11">
                            Phác đồ tiêm 2 liều cách nhau tối thiểu một tháng cho lần tiêm đầu tiên.<br>
                            Tiêm nhắc lại 1 liều mỗi năm.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Sởi</td>
                        <td style="text-align: center; width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; text-align: center; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; text-align: center; border: 1px solid #12b8d1;">&nbsp;x</td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; text-align: center; border: 1px solid #12b8d1;">&nbsp;x</td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 80px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 80px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn A,C,W,Y</td>
                        <td style="text-align: center; width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;">x</td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;">x</td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Viêm não Nhật Bản</td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="text-align: left; width: 320px; border: 1px solid #12b8d1;" colspan="8">
                            – Phác đồ 2 liều tiêm cách nhau 1 năm<br>
                            – Hoặc phác đồ 3 liều tiêm và nhắc lại mỗi 3 năm một liều đến 15 tuổi
                        </td>
                    </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Sởi, Quai bị, Rubella</td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td> <td style="text-align: center; width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; text-align: center; border: 1px solid #12b8d1;">&nbsp;&nbsp;x</td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 80px; border: 1px solid #12b8d1;"></td> <td style="width: 80px; text-align: center; border: 1px solid #12b8d1;" colspan="2">&nbsp;x</td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Thủy đậu</td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;" colspan="8">Phác đồ 2 liều tiêm cách nhau tối thiểu 3 tháng</td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Viêm gan A</td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 240px; border: 1px solid #12b8d1;" colspan="6">Phác đồ 2 liều tiêm cách nhau tối thiểu 6 tháng</td> </tr>
                    <tr> <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Viêm gan A + B</td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 39px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 40px; border: 1px solid #12b8d1;"></td> <td style="width: 240px; border: 1px solid #12b8d1;" colspan="6">Phác đồ 2 liều tiêm cách nhau tối thiểu 6-12 tháng</td> </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Thương hàn</td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 160px; border: 1px solid #12b8d1;" colspan="4">1 liều và nhắc lại mỗi 3 năm</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 128px; border: 1px solid #12b8d1;">Bệnh tả</td>
                        <td style="text-align: center; width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 39px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 40px; border: 1px solid #12b8d1;"></td>
                        <td style="width: 160px; border: 1px solid #12b8d1;" colspan="4"><span style="font-weight: 400;">2 liều cách nhau tối thiểu 2 tuần</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
			</div>
        </div>
    </div>
</div>
