@{
    ViewBag.Title = "Lịch tiêm chủng cho vị thành niên và người lớn";
    Layout = "~/Views/Shared/Giaodientrangchu.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="~/bootstrap/css/Stylehead.css" rel="stylesheet" />
<style>
    .justified-text {
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-tieude {
        background-color: #3b2cb3;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', serif;
        font-size: 14px;
        height: 5vh;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-tieude1 {
        background-color: #3b2cb3;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', serif;
        font-size: 14px;
        height: 5vh;
        text-align: justify;
        display: flex;
        align-items: center;
    }

    .noidung {
        background-color: white;
        color: black;
        font-family: 'Times New Roman', serif;
        font-size: 18px;
        height: auto;
        text-align: justify;
        display: flex;
        align-items: center;
        line-height: 2.5;
    }
</style>
<div class="container" style="margin-bottom: 100px;">
    <div class="row text-center">
        <span>
            <font face="Verdana"><h2 style="text-align:left; border-bottom: 2px solid #0077b6;"><b>LỊCH TIÊM CHỦNG CHO VỊ THÀNH NIÊN VÀ NGƯỜI LỚN</b></h2></font>
        </span>
    </div>
    <div class="row justified-text" style="margin-bottom:20px;">
        <font face="TimesNewRoman" size="4">
            Người lớn tiêm vắc xin không chỉ để <b>PHÒNG BỆNH CHO BẢN THÂN</b>, mà còn <b>ĐỂ BẢO VỆ TRẺ EM, GIA ĐÌNH VÀ CỘNG ĐỒNG</b></br>
            Tiêm chủng vắc xin là quyền lợi được phòng ngừa bệnh dịch của mỗi người và thể hiện trách nhiệm của cá nhân đối với cộng đồng</br>
        </font>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-white py-2" style="background-color:#0b0e56; text-align:center;">
                <h4 class="font-weight-bold" style="font-family: 'Times New Roman', serif; font-size: 18px;">LỊCH TIÊM CHỦNG CHO TUỔI VỊ THÀNH NIÊN VÀ NGƯỜI LỚN</h4>
            </div>
            <div class="col-4 border bg-tieude1">
                <b class="">Tuổi/Vaccine</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>9-11 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>12-15 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>16-18 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>19-26 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>27-45 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>46-55 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>56-64 tuổi</b>
            </div>
            <div class="col-1 border bg-tieude">
                <b>>=65 tuổi</b>
            </div>
            <div class="col-4 border noidung">
                Cúm
            </div>
            <div class="col-8 border noidung">
                Tiêm 1 liều và tiêm nhắc lại mỗi năm 1 lần
            </div>
            <div class="col-4 border noidung">
                Viêm phổi do phế cầu khuẩn
            </div>
            <div class="col-8 border noidung">
                Tiêm 1 liều duy nhất.
            </div>
            <div class="col-4 border noidung">
                Sởi – Quai bị – Rubella
            </div>
            <div class="col-8 border noidung">
                Tiêm 2 liều cách nhau tối thiểu 1 tháng. Phụ nữ hoàn tất lịch tiêm trước khi mang thai tối thiểu 3 tháng
            </div>
            <div class="col-4 border noidung">
                Thủy đậu
            </div>
            <div class="col-8 border noidung">
                Tiêm 2 liều cách nhau tối thiểu 1 tháng. Phụ nữ hoàn tất lịch tiêm trước khi mang thai tối thiểu 3 tháng.
            </div>
            <div class="col-4 border noidung">
                Uốn ván
            </div>
            <div class="col-5 border noidung">
                Phụ nữ trong độ tuổi sinh đẻ:</br>
                – Liều 1: Tiêm càng sớm càng tốt khi có thai lần đầu</br>
                – Liều 2: cách liều đầu tiên 1 tháng</br>
                – Liều 3: cách liều 2 tối thiểu 6 tháng hoặc trong thời kỳ có thai sau
            </div>
            <div class="col-3 border noidung">
                Tiêm 3 liều.</br>
                – Liều 1: Lần tiêm đầu tiên</br>
                – Liều 2: cách liều 1 tối thiểu 1 tháng</br>
                – Liều 3: Cách liều 2 từ 6-12 tháng</br>
            </div>
            <div class="col-4 border noidung">
                Bạch hầu – Uốn ván – Ho gà
            </div>
            <div class="col-8 border noidung">
                Tiêm 1 liều và nhắc lại mỗi 10 năm
            </div>
            <div class="col-4 border noidung">
                Viêm não Nhật Bản
            </div>
            <div class="col-3 border noidung">
                Chưa từng tiêm vắc xin VNNB trước đó: Tiêm 2 liều cách nhau 1 năm.
            </div>
            <div class="col-5 border noidung">
                Tiêm 1 liều duy nhất
            </div>
            <div class="col-4 border noidung">
                Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn nhóm B
            </div>
            <div class="col-6 border noidung">
                Người lớn đến 50 tuổi tiêm 2 liều cách nhau ít nhất 1 tháng
            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-4 border noidung">
                Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn nhóm A,C,Y,W
            </div>
            <div class="col-6 border noidung">
                Tiêm 1 liều duy nhất
            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-4 border noidung">
                Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn nhóm B, C
            </div>
            <div class="col-5 border noidung">
                Tiêm 2 liều:</br>
                – Liều 1: Lần tiêm đầu tiên</br>
                – Liều 2: Cách liều đầu tiên 2 tháng</br>
            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-4 border noidung">
                Viêm gan A
            </div>
            <div class="col-8 border noidung">
                Tiêm 2 liều, cách nhau từ 6-12 tháng
            </div>
            <div class="col-4 border noidung">
                Viêm gan B
            </div>
            <div class="col-8 border noidung">
                Lịch tiêm 3 mũi:</br>
                – Mũi 1: Lần đầu tiên tiêm</br>
                – Mũi 2: 1 tháng sau mũi 1</br>
                – Mũi 3: 5 tháng sau mũi 2
            </div>
            <div class="col-4 border noidung">
                Viêm gan A + B
            </div>
            <div class="col-2 border noidung">
                Tiêm 2 liều, cách nhau từ 6-12 tháng
            </div>
            <div class="col-6 border noidung">
                Tiêm 3 liều:</br>
                – Liều 1: Lần tiêm đầu tiên</br>
                – Liều 2: Cách liều đầu tiên 1 tháng</br>
                – Liều 3: Cách liều thứ 2 tối thiểu 5 tháng
            </div>
            <div class="col-4 border noidung">
                Bệnh lây lan qua đường tình dục và ung thư cổ tử cung do HPV
            </div>
            <div class="col-5 border noidung">
                Tiêm 3 liều:</br>
                – Liều 1: Lần tiêm đầu tiên</br>
                – Liều 2: Cách liều đầu tiên 1-2 tháng</br>
                – Liều 3: Cách liều đầu tiên 6 tháng
            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-1 border noidung">

            </div>
            <div class="col-4 border noidung">
                Tả
            </div>
            <div class="col-8 border noidung">
                Uống 2 liều cách nhau tối thiểu 2 tuần. Uống nhắc lại khi có dịch.
            </div>
            <div class="col-4 border noidung">
                Thương hàn
            </div>
            <div class="col-8 border noidung">
                Tiêm 1 liều và nhắc lại mỗi 3 năm khi có dịch
            </div>
            <div class="col-4 border noidung">
                Dại
            </div>
            <div class="col-8 border noidung">
                Phác đồ dự phòng cho những đối tượng nguy cơ cao gồm 3 liều.
            </div>
            <div class="col-4 border noidung">
                Sốt vàng
            </div>
            <div class="col-7 border noidung">
                Tiêm 1 liều khi đi du lịch đến những vùng có nguy cơ cao
            </div>
            <div class="col-1 border noidung">

            </div>
        </div>
    </div>
</div>
